<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Information</title>
</head>
<body>
    <h1>Enter server information</h1>
    <form action="/" method="post">
        <label for="asset_number">Asset Number:</label>
        <input type="text" id="asset_number" name="asset_number" required><br><br>
        <label for="os_type">Operating System:</label>
        <select id="os_type" name="os_type" required>
            <option value="">--Please choose an option--</option>
            <option value="Windows Server">Windows Server 11</option>
            <option value="Windows Server">Windows Server 10</option>
            <option value="RHEL">RHEL 6.9</option>
            <option value="RHEL">RHEL 7.4</option>
            <option value="RHEL">RHEL 8.7</option>
            <option value="RHEL">RHEL 9.1</option>
            <option value="Solaris">Solaris</option>
            <!-- Add more operating system options as needed -->
        </select>
        <br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
